:root {
    /* Primary Colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /* Neutral Colors */
    --transparent-white: hwb(0 100% 0% / 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    /* Fonts */
    --ff-big-shoulders: 'Big Shoulders Display', cursive;
    --ff-lexend: 'Lexend Deca', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--very-light-gray);    
    display: flex;
    align-items: center;
}

.container {
    max-width: 925px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-areas: "sedan-container suv-container lux-container";
    border-radius: 0.4rem;
    overflow: hidden;
    margin: 2rem;
}

.sedan-container {
    background-color: var(--bright-orange);
}

.suv-container {
    background-color: var(--dark-cyan);
}

.lux-container {
    background-color: var(--very-dark-cyan);
}


h1 {
    color: var(--very-light-gray);
    font-family: var(--ff-big-shoulders);
    font-weight: 700;
    margin-left: 2.5rem;
}

img {
    padding: 2rem 2.5rem;
}

p {
    color: var(--transparent-white);
    font-weight: 400;
    font-family: var(--ff-lexend);
    margin: 2rem 2.5rem;
    line-height: 1.8em;
    font-size: 13px;
    margin-bottom: 12rem;
}

div {
    position: relative;
}

button {
    font-family: var(--ff-lexend);
    background-color: var(--very-light-gray);
    color: black;
    mix-blend-mode: lighten;
    margin: 3rem 2.5rem;
    padding: 0.825rem 1.6rem;
    border-style: solid;
    border-width: 2px;
    border-color: var(--very-light-gray);
    border-radius: 1.5rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: color 0.3s, background-color 0.2s;
}

button:hover {
    color: var(--very-light-gray);
    background-color: black;
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-areas: 
            "sedan-container"
            "suv-container"
            "lux-container";
            max-width: 300px;
    }

    p {
        margin-bottom: 7.5rem;
    }
}